.cards-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:25px;

}

.stat-card{

    background:white;

    border-radius:18px;

    padding:25px;

    display:flex;

    align-items:center;

    gap:20px;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-6px);

}

.icon-area{

    width:70px;

    height:70px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:30px;

}

.stat-card p{

    color:#64748b;

    font-size:15px;

}

.stat-card h2{

    font-size:34px;

    margin-top:8px;

}